@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Be+Vietnam+Pro:wght@400;500;700&family=Potta+One&family=Ubuntu&family=Updock&display=swap');


:root {
    /* --body-clr:#fbfff5; */
    /* --bg-body-clr:#d9e4f8; */
    --bg-body-clr:#f0f2f3;
    --bg-dark-clr: #242526;
    --nav-clr: #fff;
    --main-content-clr: white;
    --img-bg: #ebedf0a9;
    --font-clr: rgb(27, 27, 27);

    --font-size: 17px;
    --font-weight: 700;

    --bg-white: white;
    --bg-black: black;

    --bg-footer: white;
    --bg-para: white;




    --ff-ubuntu: 'Ubuntu', sans-serif;

    --img-padding: 10px;
    --img-margin: 0 1vh 0 1vh;
    --img-margin-left-side: 0 3vh 0 1vh;
    --img-group-margin: 0 1vh;

    --see-more: rgba(173, 171, 171, 0.61);

    --fds-blue-05: #ECF3FF;
    --fds-blue-10: #f0f2f5;  
    --fds-blue-30: #b4cef1;
    --fds-blue-60: #5495e9;
    --font-blue: #5495e9;

    --fds-gray-05: #F2F3F5;
    --fds-gray-10: #EBEDF0;
    --fds-gray-30: #BEC3C9;
    --fds-gray-70: #8D949E;
    --fds-gray-70: #606770;
    --fds-gray-80: #626262;

    --fds-green-20: #41db51;
    --story-bg-10: rgba(0, 0, 0, 1);
    --story-bg-20: rgba(0, 0, 0, 0.3);

    --bg-hover: #afb1b3a0;
}

.dark-theme{

    --bg-body-clr:#d9e4f8;
    --bg-dark-clr:#f0f2f3;
    --nav-clr: rgba(247, 238, 238, 0.881);
    --font-clr: white;
    --main-content-clr: #303030;
    
    --img-bg: white;

    --bg-white: black;
    --bg-gray: white;
    --bg-footer: black;

    --font-size: 17px;
    --font-weight: 700;
    --ff-ubuntu: 'Ubuntu', sans-serif;
    --img-padding: 10px;
    --img-margin: 0 1vh 0 1vh;
    --img-margin-left-side: 0 3vh 0 1vh;
    --img-group-margin: 0 1vh;

    --see-more: rgba(173, 171, 171, 0.61);


    --bg-dark-clr: white;
    --bg-body-clr: #242424;
    --body-clr:#242424;
    --nav-clr: #1a1a1a;

    --fds-blue-05: #ECF3FF;
    --fds-blue-10: #323334;

    /* --fds-blue-60: #1877F2; */
    --fds-blue-30: #b4cef1;
    --fds-blue-60: #5495e9;
    --font-blue: #5495e9;

    --fds-gray-05: #F2F3F5;
    --fds-gray-10:#67696b8f;
   
    --fds-gray-30: #BEC3C9;
    --fds-gray-70: white;
    --fds-gray-70: white;
    --fds-gray-80: white;

    --bg-hover: #BEC3C9;  
}



.main-content::-webkit-scrollbar-thumb{
    background-color: red;
}
.left-sidebar::-webkit-scrollbar{
    /* overflow-y: scroll;
    overflow-x: hidden; */
    background: linear-gradient(red,green,blue);
    display: block;
    overflow: auto;
}
.main-content::-webkit-scrollbar-thumb{
    color: white;
    background-color: white;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-body-clr);
    height: 100%;
    /* scrollbar-color: var(--fds-green-20); */
    /* outline: 1px solid red;
    border: 1px solid red; */
}

/* -------------------------navbar---------------- */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nav-clr);
    padding: 3px 2%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    width: 55px;
    margin-right: 0.7rem;
    border-radius: 70%;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
}

.nav-right ul li {
    list-style: none;
    display: inline-block;
}

.nav-right ul li img {
    width: 44px;
    margin: 0 0.5vh;
    padding: 9px;
    border-radius: 50%;
    background-color: var(--fds-gray-10);
    cursor: pointer;
}
.nav-right ul li img:hover{
    background-color: var(--fds-gray-30);
    opacity: 0.7;
}


.nav-user-icon img {
    width: 46px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
}
.nav-user-icon img:hover{
    opacity: 0.6;
}

.search-box {
    width: 35vh;
    background-color: var(--fds-gray-10);
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    transition: 1s;
}

.search-box:focus {
    width: 350px;
}

.search-box img {
    width: 18px;
}

.search-box input {
    width: 100%;
    background: transparent;
    padding: 13px;
    outline: none;
    border: none;
    color: white;

}

.online {
    position: relative;
    border-radius: 50%;

}

.online::after {
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid var(--fds-blue-05);
    border-radius: 50%;
    position: absolute;
    background-color: var(--fds-green-20);
    bottom: 7px;
    right: 0px;
}

.settings-menu{
    position: absolute;
    width: 90%;
    max-width: 346px;
    background-color: var(--main-content-clr);
    box-shadow: 0 0 10px rgb(0 0 0 / 40%);
    border-radius: 4px;
    overflow: hidden;
    top: 95%;
    right: 4%;
    margin: 5px;
    border-radius: 10px;
    max-height: 0;
    transition: max-height  0.3s ease-in-out;
}
.settings-menu-height{
    max-height: 450px;
    /* padding: 0; */
}
.about-profile{
    background-color: var(--nav-clr);
    margin: 1vh 1vh 2vh;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: .8vh;

}
.about-profile hr{
    border: .5px solid var(--bg-dark-clr);
    margin: 1vh 5%;
}
.settings-menu div .user-profile {
    /* margin: 1vh 0; */
    border-radius: 10px;
    cursor: pointer;
    
}
.settings-menu div .user-profile div p{
    color: var(--bg-dark-clr);
    font-weight: 700;
    background: transparent;
}
.settings-menu div .user-profile:hover , .see-all:hover{
    background-color: var(--fds-gray-);
}
.see-all{
    border-width: 80%;
    padding: 1vh 2vh;
    border-radius: 10px;
    cursor: pointer;
    color: var(--fds-blue-60);
    font-weight: 500;
}
#dark-btn{
    display: flex;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: var(--fds-gray-70);
    width: 45px;
    border-radius: 15px;
    padding: 2px 3px;
    padding-left: 0;
    cursor: pointer;
    transition: padding-left 0.5s , background 0.5s;
}
#dark-btn span{
    width: 18px;
    height: 18px;
    background: var(--bg-white);
    border-radius: 50%;
    display: inline-block;
}
#dark-btn.dark-btn-on{
    padding-left: 23px;
    background: var(--bg-black);
}



/* ------------accout costomize --------------- */

.customize-account div{
    display: inline-flex;
    align-items: center;
    width: 96%;
    margin: 0 1vh;
    padding: .6vh 1vh;
    border-radius: 10px;
    cursor: pointer;
}
.customize-account p{
    color: var(--fds-gray-70);
}
.customize-account div:hover{
    background-color: var(--bg-hover);
}
.setting-data {
    display: inline-flex;
    justify-content: space-between;
}
.setting-data img{
    transform: rotate(-90deg);
    background: transparent !important;
}

.customize-account img{
    width: 33px;
    padding: .7vh;
    margin-right: 1vh;
    border-radius: 50%;
    background: var(--fds-gray-30);
}
.terms a{
    color: var(--fds-gray-70);
    cursor: pointer;
    text-decoration: none;
}
.terms a:hover{
    columns: var(--bg-hover);
}

/* --------------------- container data ---------------- */
.container {
    display: flex;
    justify-content: space-between;
    padding: 1vh 1.5%;
}

.left-sidebar {
    flex-basis: 23%;
    position: sticky;
    top: 17px;
    align-self: flex-start;
    height: 110vh;
    width: 23%;
    overflow-y: scroll;

   
}

.right-sidebar {
    flex-basis: 23%;
    position: sticky;
    top: 17px;
    align-self: flex-start;
    height: 100vh;
}

.main-content {
    flex-basis: 47%;
    /* height: 1000vh; */
}
.main-data{
    margin: 0 10%;
}
.imp-links{
    border-bottom: 1px solid var(--bg-dark-clr);
    margin-bottom: 2vh;
    padding: 1vh 0;
}
.imp-links p{
    font-weight: var(--font-weight);
    color: var(--bg-dark-clr);
    margin: 1vh 3vh;
}

.imp-links a,
.group-info a {
    text-decoration: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;
    padding:  1vh;
    cursor: pointer;
    border-radius: 15px;
    color: var(--font-clr);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    font-family: var(--ff-ubuntu);
}


.imp-links a img,
.group-info a img {
    width: 40px;
    margin: var(--img-margin-left-side);
    background-color: var(--fds-gray-10);
    border-radius: 50%;
}
.imp-links a img{
    background-color: var(--img-bg);
}
.group-info a{
    width: 100%;
    padding: 1vh 1vh 0.6vh;
    border-radius: 15px;
    margin: 0;
}
.group-info a:hover, .group a:hover, .imp-links a:hover{
    background-color: var(--bg-hover);
}

.imp-links a:last-child {
    color: var(--fds-blue-60);
}


.sidebar-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1vh;
}

.right-sidebar h4 {
    color: var(--bg-dark-clr);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    margin: 1vh;
}

.sidebar-title a {
    color: var(--fds-blue-60);
    text-decoration: none;
    font-size: 12px;
}

.contact-details {
    display: flex;
}

.contact-details a img {
    border-radius: 50%;
    background-color: var(--fds-gray-10);
    width: 36px;
    padding: 8px;
    margin: 0 0.4vh;
}

.contact-details a img:hover {
    background-color: var(--fds-gray-30);
    border-radius: 50%;
}

.menu-icon {
    background-color: var(--fds-gray-10);
    width: 36px;
    margin: 0 5px;
    padding: 8px;
    border-radius: 50%;
    transform: rotate(90deg);
    cursor: pointer;
}
.menu-icon:hover{
    background-color: var(--bg-hover);
    border-radius: 50%;
}

.online-friends a::after {
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid var(--fds-blue-05);
    border-radius: 50%;
    position: absolute;
    background: var(--fds-green-20);
    bottom: 8px;
    right: 4px;
    z-index: 30;
}

hr {
    margin: 10px 0;
}

.group h4 {
    margin: 5px 0;
}

.group a {
    padding: 1vh 1vh 0.6vh;
    width: 100%;
    border-radius: 15px;
}

.group a img {
    width: 36px;
    padding: 8px;
    border-radius: 50%;
    background: var(--fds-gray-30);
    margin: var(--img-group-margin);

}

.event {
    display: flex;
    font-size: 14px;
    cursor: pointer;
    border-radius: 20px;
    padding: 1vh 1.5vh;
}
.event:hover{
    background-color: var(--bg-hover);
}

.left-event {
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: var(--bg-body-clr);
    background: var(--font-clr);
}

.event p {
    font-size: 12px;
}

.event a {
    color: var(--fds-blue-60);
    font-size: 12px;
    text-decoration: none;
}

.left-event span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--fds-blue-60);
    color: var(--bg-dark-clr);
    font-size: 10px;
    padding: 4px 0;
}

.right-event p {
    color: var(--bg-dark-clr);
    display: flex;
    align-items: center;
    font-size: 17px;
}

.right-event p img {
    width: 20px;
}

.online-list {
    display: flex;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    padding: 1vh 1vh 0.6vh;

}
.online-list:hover{
    background-color: var(--bg-hover);    
}

.online-list .online img {
    width: 35px;
    border-radius: 50%;
    margin: var(--img-margin);
}

.online-list p {
    margin-left: 15px;
    color: var(--font-clr);
    font-family: var(--ff-ubuntu);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
}
.see-more{
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding:  1vh;
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    font-family: var(--ff-ubuntu);
}
.see-more img{
    width: 36px;
    margin: 0 1.3vh;
    background-color: var(--fds-gray-30);
    border-radius: 50%;
    padding: 8px;
}

.see-more p{
    margin-left: 15px;
    color: var(--fds-blue-60);
}


/* ---------- Main Content-------------- */

.story-gallery {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.story {
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background: linear-gradient(transparent, var(--story-bg));
    background-image: url(images/ds.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    cursor: pointer;
}
.story:hover{
    opacity: .8;
    background-color: var(--bg-hover);
}

.story1 {
    background-image: url(https://source.unsplash.com/random/900×300);
}

.story2 {
    background-image: url(https://source.unsplash.com/random/?city,night/900×300);
}

.story3 {
    background-image: url(https://source.unsplash.com/random/?web,night/900×300);
}

.story4 {
    background-image: url(https://source.unsplash.com/random/?earth,night/900×300);
}

.story img {
    position: absolute;
    width: 30px;
    /* height: 35px; */
    top: 4%;
    margin: 0 8%;
    border: 3px solid var(--fds-blue-60);
    border-radius: 50%;
    background-color: var(--fds-blue-60);
    z-index: 10;
}

.story p {
    position: absolute;
    bottom: 0;
    padding: 7% 1%;
    width: 100%;
    text-align: center;
    color: var(--bg-para);
    font-size: 14px;
}

.add-story {
    border-radius: 20px;
}
.add-story p{
    width: 100%;
    background-color: var(--nav-clr);
    color: var(--bg-dark-clr);
    border-radius: 10px;    
}
.story.add-story img {
    top: unset;
    left: 40%;
    bottom: 16%;
    transform: translateX(-50%);
    border: 4px solid var(--nav-clr);
}


.new-post-container {
    display: flex;
    align-items: center;
    background-color: var(--main-content-clr);
    border-radius: 15px;
    padding: 1vh;
}
.new-post-container div{
    width: 100%;
}

.user-img {
    width: 100%;
    display: flex;
    padding: 1vh 0vh;
    text-align: center;
}

.user-img input {
    margin: 0 1vh;
    width: 80%;
    font-size: 20px;
    padding: 10px 30px 10px 20px;
    border-radius: 50px;
    background-color: var(--fds-gray-10);
    color: var(--bg-dark-clr);
    outline: none;
    border: none;
}

.user-img img {
    cursor: pointer;
}

.activity{
    display: flex;
    align-items: center;
    text-decoration: none;
    text-align: center;
    margin: 1vh;
    justify-content: space-around;
}

.activity div{
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    padding: 1vh 1vh;
    border-radius: 15px;
    cursor: pointer;
}
.post-details div{
    padding: 1vh 7vh;
    /* background-color: #1877F2; */
}

.activity div:hover {
    background-color: var(--bg-hover);
}

.activity div p  {
    color: var(--bg-dark-clr);
    align-items: center;
    margin: 0 0.5vh;
}

.activity div img  {
    padding: 0 5px;
}

.activity img{
    width: 40px;
}

.room {
    margin-top: 2vh;
    display: flex;
    background-color: var(--main-content-clr);
    border-radius: 10px;
}

.room .online-person a img {
    border-radius: 50%;
    margin: 0 1vh;
}

.room-link {
    /* display: flex; */
    margin: 1vh 2vh;
    padding: 1vh 2vh;
    border: 2px solid var(--fds-blue-60);
    border-radius: 50px;
}
.room-link:hover{
    background-color: var(--fds-blue-30);
}

.room-link a {
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: var(--fds-blue-60);
    font-weight: bold;
    font-size: 20px;

}

.room-link a img {
    width: 30px;
    margin: 0 1.1vh;
}

.online-person {
    display: flex;
    align-items: center;
}

.online-person a img {
    width: 6vh;
}

.post-container{
    width: 100%;
    background-color: var(--main-content-clr);
    border-radius: 6px;
    padding: 1vh 2vh;
    color: var(--fds-blue-05);
    margin: 3vh 0;
    cursor: pointer;
    border-radius: 15px;
}
.post-container .activity div{
    padding: 1vh 6vh;
    
}

.user-profile .menu-vertical{
    transform: rotate(90deg);
    width: 15px;
    /* justify-content: flex-end; */

}
.user-profile {
    display: flex;
    align-items: center;
}
.user-profile div{
    margin-right: 35 vh;
}

.user-profile img {
    margin: 5px;
}

.user-profile p {
    margin-bottom: -5px;
    font-weight: 500;
    color: var(--fds-gray-70);
}

.user-profile span{
    font-size: 12px;
    color: var(--fds-gray-70);
}
.user-profile span:hover{
    border-bottom: 1px var(--bg-hover);
    cursor: pointer;
}
.post-text{
    color: var(--fds-gray-70);
    margin: 8px 0;
    font-size: 15px;
}
.post-text strong{
    color: var(--fds-blue-60);
    cursor: pointer;
}
.post-text a{
    text-decoration: none;
    color: var(--fds-blue-60);
}
.post-img{
    width: 100%;
    margin-bottom: 5px;

}
.post-container hr{
    margin: 4px 0;
    /* outline: none; */
}
.liked-person{
    width: 100%;
    display: inline-flex;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid black;
    /* margin-bottom: 1vh; */
    padding: 0.8vh 0;
    cursor: pointer;
}

.liked-person img{
    width: 20px;
    margin: 0 2vh;
}

.liked-person p:hover{
    border-bottom: 1px solid var(--bg-hover);
}


.post-row, .user-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.post-row{
    border-bottom: 1px solid black;

}
.activity-icons a img{
    width: 20px;
    margin-right: 2vh;
}
.activity-icons{
    margin: 2px 0;
}
.activity-icons a{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    /* margin-right: 3vh; */
    text-decoration: none;
    color: var(--fds-gray-70);
    flex: 1;
    padding: 1.5vh 5.8vh;
    border-radius: 15px;
    flex-grow: 1;
}
.activity-icons a:hover{
    background-color: var(--bg-hover);
}

.write-comments img{
    padding: 0;
}

.input-container{
    background-color: var(--fds-gray-10);
    border-radius: 30px;
    display: flex;
    align-items: center;
    /* padding:  0 15px; */
}
.input-container input{
    width: 100%;
    color: var(--fds-gray-70);
    background: transparent;
    padding: 1vh;
    outline: none;
    border: none;
}

.input-container img{
    width: 37px;
    padding: 1vh;
    border-radius: 50%;
    background-color: var(--fds-gray-10);
    margin: 2px;
}



.input-container img:hover{
    background-color: var(--fds-gray-30);
}

.see-all-btn{
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 1vh 3vh;
    color: blue;
    border: 1px solid white;
    margin: 2vh 40%;
    border-radius: 10px;
    background-color: var(--fds-blue-30);
}
.see-all-btn:hover{
    background-color: var(--fds-blue-60);
    color: white;
}


/* -----------footer------------- */
footer{
    text-align: center;
    color: var(--bg-dark-clr);
    background-color: var(--bg-footer);
    font-weight: 700;
    padding: 3vh 0;
    font-size: 20px;
}






@media (max-width: 1200px) {
    .left-sidebar{
        display: none;
    }
    .main-content{
        justify-content: center;
        margin: auto;
        flex-basis: 55%;
    }
    .main-data{
        margin: 0 4%;
    }
    .right-sidebar{
        flex-basis: 27%;
    }
    
    .search-box{
        /* display: inline-block; */
        align-items: center;
        cursor: pointer;
    }
    .search-input{
        
        width: 100px;
    }
    .search-input:focus{
        width: 500px;
    }
    /* .search-box input{
        display: none;
    } */
}


@media  (max-width: 1000px) {
    .right-sidebar{
        display: none;
    }
    .main-content{
        flex-basis: 75%;
    }
}

@media  (max-width: 615px) {
    nav{
        width: 66vh;
    }
}
